body {
    font-family: "Avenir Next";
}

li {
    list-style: none;
}

.header {
    background-color: #b37700;
    color: #fff;
    height: 110px;
    padding-top: 10px;
    padding-left 10px;
}

.header-logo {
    font-size: 36px;
    color: #e6e600;
}

.header-list li {
    background-color: #332200;
    float: left;
    font-size: 30px;
}

.main {
    padding: 100px 80px;
    background-color: #332200;
}

.copy-container h1 {
    font-size: 50px;
}

.copy-container h2 {
    font-size: 60px;
}

.copy-container span {
    color: #ff4a4a;
}

.contents {
    height: 500px;
    /* margin-topを100pxにしてください */
}

.section-title {
    border-bottom: 2px solid #dee7ec;
    /* font-sizeを28pxにしてください */
    /* padding-bottomを15pxにしてください */
    /* margin-bottomを50pxにしてください */
}

.contents-item {
    float: left;
    font-size: 100px;
    /* margin-rightを40pxにしてください */
}

/* contents-itemの中のp要素のfont-size、margin-topを指定してください */


.footer {
    background-color: dcd3b2;
    color: #fff;
    height: 120px;
    padding: 40px;
}

.footer-logo {
    float: left;
    font-size: 32px;
}

.footer-list {
    float: right;
}

    .footer-list li {
        padding-bottom: 20px;
    }
